#cuerpo{
    background-color: darkslategray;
}
main, #DatosT{
    width: 100vw;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    color: aliceblue;
    /* column-gap: ; */
}