#padre{
    display: flex;
    justify-content: center;
    align-items: center;
}
#cuadro{
    background-color: rgba(49, 228, 33, 0.692);
    width: 25%;
    height: 100%;
    padding: 5%;
    text-align: center;
    border: 5px solid grey;
}
h1{
    text-align: center;
    text-decoration-color:chocolate;
}
#tareas{
    justify-content: center;
    align-items: center;
}
.tar{
    background-color: cadetblue;
    width: 600px;
    height: 50px;
    border-radius: 3% 3% 3% 3%;
    text-align: center;
}